.navbar {
  width: 100%;
  height: 65px;
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
}

.mainLink {
  margin-right: 20px;
}